[Unit]
Description=Example systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/pac-man-startup.sh

[Install]
WantedBy=multi-user.target